hunter @ git+https://github.com/datastax-labs/hunter.git@v0.5.0
certifi==2023.11.17
click==8.1.7
elastic-transport==8.11.0
elasticsearch==7.13.0
fmatch==0.0.5
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
six==1.16.0
tzdata==2023.4
urllib3==1.26.18
fastapi==0.110.0
python-multipart==0.0.9
