name: CI tests\
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  pull_request_target:
    branches:
      - master
      - main

jobs:
  setup-python:
    uses: ./.github/workflows/python-setup.yaml  # Path to reusable workflow
    with:
      python-version: 3.14

  linter:
    needs: setup-python
    uses: ./.github/workflows/pylint.yaml

  builder:
    needs: setup-python
    uses: ./.github/workflows/builders.yaml

  unit_tester:
    needs: setup-python
    uses: ./.github/workflows/unit_tests.yaml

  tester:
    needs: [setup-python, builder]
    uses: ./.github/workflows/tests.yaml
    secrets: inherit
