name: Image Push
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  build_image:
    name: Image Push
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v5

    - name: Build Orion Image
      id: build-orion
      uses: redhat-actions/buildah-build@v2
      with:
        image: orion 
        context: .
        tags: latest ${{ github.sha }}
        containerfiles: |
          ./Dockerfile

    - name: Push orion image to quay.io
      id: push-front-to-quay
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-orion.outputs.image }}
        tags: ${{ steps.build-orion.outputs.tags }}
        registry: quay.io/cloud-bulldozer
        username: ${{ secrets.QUAY_USER }}
        password: ${{ secrets.QUAY_TOKEN }}
