name: Execute tests
on:
  workflow_call:
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:

    - name: Install bats
      uses: bats-core/bats-action@1.5.4
      with:
        bats-version: 1.10.0
        support-install: false
        assert-install: false
        detik-install: false
        file-install: false

    - name: Check out code
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        ref: ${{ github.event.pull_request.head.sha }}
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install .

    - name: Execute Tests
      run: |
        bats -F pretty -T --print-output-on-failure test.bats
      env:
        TERM: linux      
        QE_ES_SERVER: ${{ secrets.QE_ES_SERVER }}
    
    - name: Upload coverage data
      if: ${{ success() || failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: output
        path: "*.csv"
        if-no-files-found: error